.x1{
  background: #5433FF;
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  

margin-top: 10px;
padding-bottom: 10px;
}
.x2{
  margin-top: 15px;

}
.x3{
  margin-top: 15px;
}
.x4{
  margin-top: 15px;
}
.x5{
  margin-top: 15px;
}
